#interactive {
    width: 100%;
}

#arrow {
    border: 5px solid grey;
}

#control {
    float: left;
    width: 40%;
    max-width: 300px;
    overflow: hidden;
    border: 10px solid transparent;
}

input {
    width: 95%;
    max-width: 300px;
}